In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

### First Names

In [123]:
url = 'https://www.ssa.gov/oact/babynames/decades/century.html'
res = requests.get(url)
soup = BeautifulSoup(res.text)

In [124]:
firstname_list = []
for item in soup.find_all('tbody')[0].find_all('td')[:-2]:
    try:
        int(item.text.replace(',', ''))
    except ValueError:
        firstname_list.append(item.text)
        
male_firstname_list = []
female_firstname_list = []
for i, fn in enumerate(firstname_list):
    if i % 2 == 0:
        male_firstname_list.append(fn)
    else:
        female_firstname_list.append(fn)

### Last Names

In [125]:
url = 'https://namecensus.com/last-names/'
res = requests.get(url)
soup = BeautifulSoup(res.text)

In [126]:
lastname_list = []
for i in range(100):
    lastname_list.append(soup.find_all('tbody')[0].find_all('a')[i].attrs['href'].split('/')[2].split('-')[0].title())

### Save to a csv file named `name_list.csv`

In [127]:
df = pd.DataFrame(male_firstname_list, 
                  columns = ['male'])
df['female'] = female_firstname_list
df['last'] = lastname_list
df.to_csv('../data/name_list.csv', index = False)

      male     female      last
0    James       Mary     Smith
1   Robert   Patricia   Johnson
2     John   Jennifer  Williams
3  Michael      Linda     Brown
4    David  Elizabeth     Jones